@import 'normalize'
@import 'helper'

/* variables */
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor, 10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5

.content
  padding-top 100px

.group:after
  content: "";
  display: table;
  clear: both;

.account-overview
  max-width: 1200px
  margin: 0 auto

.project-container
  max-width: 1230px
  margin: 0 auto

.preview-container
  max-width: 1260px
  margin: 0 auto

.list-container
  max-width: 1280px
  margin: 0 auto
.hover a
  color #616161
.hover a:hover
  background #F5F5F5

//Styles for File Input//

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: relative;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

//Styles for progress bar//

.loader {
  width: 80%
  marginTop: 10px
  margin: 0 auto
}

//Tooltip Styles

#tooltip {
  opacity: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 100;
  padding: 5px;
  pointer-events: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
#tooltip.top {
  margin-top: 20px;
}
#tooltip.show {
  opacity: 1;
  margin-top: 10px;
  pointer-events: all;
}
#tooltip.show.top {
  margin-top: 10px;
}
#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}
#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.6);
  top: -20px;
  bottom: auto;
}
#tooltip.left:after {
  left: 10px;
  margin: 0;
}
#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}