@import 'normalize'
@import 'helper'

/* variables */
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea 
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

body
  color: $black
  font-size: 1em
  line-height: 1.5

.content
  padding: .5em
  margin: 0px auto

.project-list-grid
  max-width: 1200px

.project-container
  overflow: auto
  margin: 20px auto
  max-width: 1200px
  position: relative
  text-align center


.account-overview-container
  margin-top: -100px

/*Search bar css*/
//Need to add media queries here to account for a mobile search option//

.searchBar
  outline: none
  color: slategrey
  text-align: left
  margin-right: 100px
  font-size: .8em

.searchBar[type=search]
  -webkit-appearance: textfield
  -webkit-box-sizing: content-box
  font-family: inherit
  font-size: 100%

.searchBar::-webkit-search-decoration,
.searchBar::-webkit-search-cancel-button
  display: none

.searchBar[type=text]
  background: #fff url(/images/mdl-icons/ic_search_black_24dp_1x.png) no-repeat 9px center
  background-color: #C5CAE9
  opacity: .5
  border: none
  padding: 10px
  width: 400px
  text-align: left

  -webkit-border-radius: 4px
  -moz-border-radius: 3px
  border-radius: 4px

  -webkit-transition: all .5s
  -moz-transition: all .5s
  transition: width .5s ease, opacity .5s ease

.searchBar[type=text]:focus
  width: 500px
  background-color: $white
  opacity: 1
  text-align: left
  border-color: #ededed
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5)
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5)
  box-shadow: 0 0 5px rgba(109,207,246,.5)

.searchBar:-moz-placeholder
  color: lightgrey

.searchBar::-webkit-.searchBar-placeholder
  color: lightgrey

.ribbon
  height: 200px
  width: 200%
  background-color: #FFFFFF

